@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 0rem;
}

.kmom-sida {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 150px 530px 150px 150px 150px;
    padding: 2em;
    gap: 2em 2em;
    font-family: 'PT Sans', sans-serif;
    height: max-content;
    background-image: url(../back.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    margin-block: 30px;
    padding-block: 50px;
    margin-top: 49px;
    height: 80rem;
}

// .kmom-sida1 {
//     background-image: url(../back.jpg);
//     background-size: cover;
//     background-position: top center;
//     background-attachment: fixed;
//     position: relative;
//     z-index: 1;
//     margin-block: 30px;
//     padding-block: 50px;
//     margin-top: 49px;
//     height: 30rem;
// }

.colors {
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 24px;
    background-color: rgb(92, 194, 238);
    height: 250px;
    cursor: pointer;
}

.load {
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 24px;
    background-color: rgb(240, 248, 6);
    height: 250px;
    cursor: pointer;
}

.design_principles {
    margin-top: 50px;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 24px;
    background-color: crimson;
    height: 250px;
    cursor: pointer;
}

p {
    font-size: 20px;
}

.color_div {
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
    font-size: 24px;
    height: 250px;
    color: #fff;
    
}

.h2_div {
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    font-size: 24px;
    height: 250px;  
}

.p_div {
    text-align: left;
}

.footer {
    bottom: 0px;
    width: 100%;
    height: 100px;
    margin-top: 1000px;
    margin-bottom: 0;
    flex: 0 0 auto;
}