.footer {
    display: block;
    padding: $magic-number;
    background-color: #29323c;
    color: #fff;
    border: 3px inset #c01313;
    margin-top: 100px;
}

.footer p:hover {
    text-decoration: underline;
}

.social a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}