{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    
       <div class="kmom-sida">
               {{ content }}
        </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
